# Node.js
node_modules/
.env
dist/
build/

# Logs
*.log

# NPM
package-lock.json

# Server
server/node_modules/
server/package-lock.json
server/.env

# Client
client/node_modules/
client/package-lock.json
client/.env

# OS
.DS_Store

# Vite
.vite

# Editor
.vscode/
*.swp