# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment files
.env
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# Build
dist/
build/

# Vite
.vite/

# IDE folders
.vscode/
.idea/

# Misc
*.sqlite
*.sqlite-shm
*.sqlite-wal